* {
    box-sizing: border-box;
    font-family: sans-serif;
    color: #460273;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #F2F5FF;
}

.hairdresser {
    text-align: center;
}

.title {
    margin-top: 0.7em;
}

.border{
    margin-top: 0.8em;
    border: 0px;
}

.main-container {
    display: flex;
    justify-content: center;
}

.input {
    border-width: 1px;
    border-radius: 5px;
    box-shadow: 2px 2px #4602733b;
    width: 16em;
    height: 2em;
}

.input:focus {
    background-color: #C6B9DB;
}

.flex-container {
    display: flex;
    margin-bottom: 0.7em;
}

.flex-container-technology {
    display: flex;
    margin-bottom: 0.7em;
    justify-content: space-between;
}

.alagn-form {
    margin: 2px 0px 0px 0px
}

.last-name {
    margin-left: 1.2em;
}

.column-container {
    display: flex;
    flex-direction: column;
}

.select {
    border-radius: 5px;
    width: 8em;
    height: 2em;
    background-color: white;
    box-shadow: 2px 2px 2px #4602733b;
}

.technology {
    padding-left: 2px;
}

.textarea {
    margin: auto;
    height: 9em;
    width: 40em;
    background-color: #C6B9DB;
}

.button {
    background-color: #460273;
    color: white;
    width: 7em;
    height: 2em;
    display: block;
    margin: 2em auto 0em auto;
}

@media (max-width: 480px) {
    .main-container {
        display: flex;
        justify-content: center;
    }

    .flex-media {
        display: flex;
        flex-direction: column;
        margin-bottom: 0.7em;
    }

    .last-name {
        margin: 0.7em 0px 0px 0px;
    }

    .textarea {
        margin: 2em auto 0em auto;
        width: 27em;
        height: 8em;
    }

    .flex-button {
        display: flex;
        justify-content: center;
    }
}